body {

    display: grid;
    grid-template-columns: 50% 50% 50%;
    grid-template-rows: auto auto;
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
    grid-column-gap: 10px;
    grid-row-gap: 10px;

}

main{
    display:grid;
    width:100%;
    padding:20px;

}


/*a{
    display:flex;
}

h1{
    display:flex;
    padding:20px;
}

span{
    display: flex;
    align-items:center;
}*/

emojis{
    display:flex;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content: space-around;
    align-items:flex-start;
}

.emoji {
    border: 1px solid #222;
    border-radius: 8px;
    padding: 1rem;
}

.emoji h2 {
    margin: 0;
    border-bottom: 2px solid #ccc;
}

.emoji a {
    text-decoration: none;
    background-color: #781BAA;
    color: white;
    padding: 1rem;
    border-radius: 8px;
}

.icon {
    font-size: 4rem;
}
